* {
  box-sizing: border-box;
}
body {
  background-color: #73ba9b;
}
h1, h2 {
  color: #021f12;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products-container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
image {
  width: 250px;
}
img {
  width: 250px;
}
p,
button {
  justify-content: center;
}

.cart-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  background: #D5F2E3;
  overflow: auto;
  box-shadow: -1px -1px 15px #000;
}

.button-cart {
  position: fixed;
  right: 17px;
  top: 0;
  background: #B84123;
  z-index: 5;
  font-size: 20px;
}

.buttonProducts {
  background-color: #B84123;
  width: 120px;
}

.buttonSum, .buttonSubtract {
  background-color: #B84123;
}
